@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

$primary-color: #001643;
$secondary-color: #877977;
$primary-alpha: rgba(0, 22, 67, 0.880);
$font-color: #fff;
$title-size: 2.4rem;
$font-size: 1.8rem;
$font: 'jura', sans-serif;
$rounded: .5rem;
//imagenes
$servicioUno: url('/banio_pintura.webp');
$farosImg: url('/farosDos.jpg');
